@import url('https://fonts.googleapis.com/css?family=Montserrat|Crimson+Text:400i|Clicker+Script|Roboto|Scheherazade');

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 body {
	font-family: 'Montserrat', sans-serif;
	color: #300e0e;
	background-color: #fffefc;
	font-size:12px;
	margin: 0;
}

#receiving_number , #msg {
    border: 1px solid #000;
    background-color: #f7f1e7;
    font-family: 'Montserrat', sans-serif;
	color: #300e0e;
	font-size:12px;
}

input[type=submit] {
    font-family: 'Montserrat', sans-serif;
	color: #fbf7f5;
	font-size:12px;
	border:none;
    background-color: #300e0e;
}